@import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);

li {
  width: 720px;
  margin-bottom: 4px;

  .commentName {
    font-weight: bold;
    font-size: 14px;
  }

  .commentBody {
    width: 600px;
    margin-left: 8px;
    font-size: 14px;
  }
}
